/* ==========================================================================
   Susy grid: http://susy.oddbird.net/
   ========================================================================== */
// mobile first
$total-columns:		12;
$column-width:		30px;
$gutter-width:		10px;
$grid-padding:		$gutter-width;

// desktop breakpoint
$desktop-size:		40em;
$desktop-columns:	24;

// set the default breakpoint (and include a modernizr compatible fall back for IE8 and under)
$media-layout:		$desktop-size $desktop-columns lt-ie9;

/* ==========================================================================
   Colours
   ========================================================================== */
$white:					#fff;
$light-grey:			#ababab;
$grey:					#7a7a7a;
$dark-grey:				#585858;
$black:					#222;
$orange:				#ff8800;

$qs-feature-color:		$orange;

$body-bg-color:			$white;
$body-fg-color:			$black;

$header-bg-color:		$dark-grey;
$header-fg-color:		$white;

$main-bg-color:			$light-grey;
$main-fg-color:			$white;

$sidebar-bg-color:		$grey;
$sidebar-fg-color:		$white;

$footer-upper-bg-color:	$orange;
$footer-upper-fg-color:	$white;

$footer-lower-bg-color:	$white;
$footer-lower-fg-color:	$black;

/* ==========================================================================
   Vertical rhythm: http://compass-style.org/reference/compass/typography/vertical_rhythm/

   * image heights should be multiples of the base-line-height
   * see http://atendesigngroup.com/blog/vertical-rhythm-compass for useful tips
   ========================================================================== */
$qs-base-font-size:		16;
$base-font-size:		$qs-base-font-size * 1px;
$qs-base-line-height:	24; //Make sure to update .baseline() in main.js if you change this value
$base-line-height:		$qs-base-line-height * 1px;
$indent-amount:			48px;

$base-font-family:		'PT Sans', sans-serif;
$title-font-family:		Michroma, 'PT Sans', sans-serif;

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

/* ==========================================================================
   Cross-Browser Support: http://compass-style.org/reference/compass/support/
   ========================================================================== */
$legacy-support-for-mozilla:	false;
$legacy-support-for-ie6:		false;
$legacy-support-for-ie7:		false;
$legacy-support-for-ie8:		true;

/* ==========================================================================
   Debug - set this to false to remove the grid overlay.
   ========================================================================== */
$qs-debug:	false;
