# Uploads directory
/htdocs/wp-content/uploads/*

# Various cache plugins, updated and and other bits
/htdocs/wp-content/w3tc/*
/htdocs/wp-content/advanced-cache.php
/htdocs/wp-content/db.php
/htdocs/wp-content/object-cache.php
/htdocs/wp-content/w3-total-cache-config.php
/htdocs/wp-content/blogs.dir/
/htdocs/wp-content/upgrade/*
/htdocs/wp-content/backup-db/*
/htdocs/wp-content/advanced-cache.php
/htdocs/wp-content/wp-cache-config.php
/htdocs/wp-content/cache/*
/htdocs/wp-content/cache/supercache/*
/htdocs/wp-content/wppa-depot/*

# sitemap data
/htdocs/sitemap.xml
/htdocs/sitemap.xml.gz

# config file
/htdocs/wp-config.php

# htaccess file
/htdocs/.htaccess

# apache log files
/logs/*

# netbeans
/nbproject/*

# metadata and other crap
*~
*.lock
.DS_Store
*.swp
*.out
Thumbs.db
*.svn*
