## Windows: https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## Linux: https://github.com/github/gitignore/blob/master/Global/Linux.gitignore
.*
!.gitignore
!.gitkeep
!.htaccess
!.gitkeep
*~
*.lock
*.DS_Store
*.swp
*.out

## SASS
*.sass-cache
