/* ==========================================================================
   Susy grid: http://susy.oddbird.net/
   ========================================================================== */
// mobile first
$total-columns:		6;
$column-width:		50px;
$gutter-width:		20px;
$grid-padding:		$gutter-width;

// desktop breakpoint
$desktop-size:		40em;
$desktop-columns:	12;

/* ==========================================================================
   Colours
   ========================================================================== */
$qs-base-color:			#123456;	// for links, buttons, and all other goodies
$qs-highlight-color:	#654321;

$white:					#fff;
$light-grey:			#808080;
$grey:					#585858;
$dark-grey:				#414141;
$black:					#000;
$orange:				#ff8800;

/* ==========================================================================
   Vertical rhythm: http://compass-style.org/reference/compass/typography/vertical_rhythm/
   ========================================================================== */
$qs-base-font-size:		14;
$base-font-size:		$qs-base-font-size * 1px;
$qs-base-line-height:	22; //Make sure to update .baseline() in main.js if you change this value
$base-line-height:		$qs-base-line-height * 1px;

$h1-font-size:			1.9		* $base-font-size;
$h2-font-size:			1.2		* $base-font-size;
$h3-font-size:			1		* $base-font-size;
$h4-font-size:			0.83	* $base-font-size;
$h5-font-size:			0.67	* $base-font-size;
$h6-font-size:			0.50	* $base-font-size;
$lede-font-size:		2		* $base-font-size;

$base-font-family:		'PT Sans', sans-serif;
$title-font-family:		'Michroma', sans-serif;

// image heights should be multiples of the base-line-height
// see http://atendesigngroup.com/blog/vertical-rhythm-compass for useful tips

/* ==========================================================================
   Sassy Buttons: http://jaredhardy.com/sassy-buttons/
   ========================================================================== */
$sb-base-color:		$qs-base-color;					// Base color of your button
$sb-second-color:	lighten($qs-base-color, 10%);	// Optional second color of button gradient
$sb-border-radius:	0.3em;							// Button border radius
$sb-border-width:	0.1em;							// Button border width
$sb-padding:		0.3em 0.6em;					// Button padding
$sb-font-size:		1.6em;							// Button font-size
$sb-line-height:	1em;							// Button line-height
$sb-text-color:		$white;							// Button text color
$sb-text-style:		"raised";						// Button text shadow style
$sb-gradient-style:	"shiny";						// Button gradient style
$sb-auto-states:	true;							// Automatically create pseudo styles

/* ==========================================================================
   Cross-Browser Support: http://compass-style.org/reference/compass/support/
   ========================================================================== */
$legacy-support-for-ie:			false;
$legacy-support-for-mozilla:	false;

/* ==========================================================================
   Debug - set this to false to remove the grid overlay.
   ========================================================================== */
$qs-debug:	false;

/* ==========================================================================
   Imports
   ========================================================================== */
@import 'susy';
@import 'normalize';
@import 'sassy-buttons';

/* compass specific */
@import "compass/typography/lists/inline-block-list";
@import "compass/typography/text/replacement";
@import "compass/typography/links/link-colors";
@import "compass/css3/background-size";