	/* __     _    ___    __      ____    __     _    _
		/    | |  |   |  | (_    _)  /  __) \   | )  /
	   (     | |  |   |  |   |  |   |  /     |  |/  /            Created by:
		\__  | |  |   |  |   |  |   | |      |     (             Daniel Hollands
		   | | |   \_/   |  _|  |_  |  \__   |  |\  \            http://danielhollands.co.uk/
	   ____| |__\       /__(      )__\    )_/   |_)  \_
	   _       ___        ______  _____     ____        __
		)  ____) (__    __)    /  \    |    \  (__    __)
	   (  (___      |  |      /    \   |     )    |  |           For:
		\___  \     |  |     /  ()  \  |    /     |  |           Lime Blast
		____)  )    |  |    |   __   | | |\ \     |  |           http://limeblast.co.uk/
	   (      (_____|  |____|  (__)  |_| |_\ \____|  |____ */

/* ==========================================================================
   Initial imports
   ========================================================================== */
@import "header";
@import "base";
@import "mixins";
@import "h5bp";
@import "fonts";

/* ==========================================================================
   Author's custom styles (Here be dragons)
   ========================================================================== */

/* Global
   ========================================================================== */
@include border-box-sizing;

h1, h2, h3, h4, h5, h6
{
	font-family: $title-font-family;
	font-weight: normal;
}

span.highlight
{
	color: $orange;
	&.grey
	{
		color: $light-grey
	}
}

/* Chrome frame
   ========================================================================== */
.chromeframe
{
	@extend .wrap;
}

/* Page wrapper
   ========================================================================== */
.wrap
{
	// http://stackoverflow.com/a/13522469/1049688
	@include container ($total-columns, $desktop-size $desktop-columns);
	@if ($qs-debug)
	{
		@include susy-grid-background;
	}

	@include at-breakpoint($desktop-size $desktop-columns)
	{
		@if ($qs-debug)
		{
			@include susy-grid-background;
		}
	}
}

/* Background
   ========================================================================== */
.background
{
	@include at-breakpoint($desktop-size $desktop-columns)
	{
		background: url(http://lorempixel.com/1600/600/city) no-repeat center top $orange;
		padding: 30px 0 400px 0;

		&:after
		{
			position: absolute;
			z-index: 99;
			content: '';
			height: 400px;
			width: 100%;
			background: url(./images/standout-top.png) no-repeat center bottom;
		}
	}
}

/* Header
   ========================================================================= */
.header
{
	@extend .clearfix;
	background: $grey;
	color: $white;
	@include padding-leader(1);
	@include padding-trailer(1);

	a
	{
		@include link-colors($orange, darken($orange, 10%), darken($orange, 10%), $orange);
	}
}

	.header-title
	{
		@include padding-trailer(1);

		@include at-breakpoint($desktop-size $desktop-columns)
		{
			@include span-columns(4, $desktop-columns);
			@include padding-trailer(0);
		}
	}

	.header-navigation
	{
		@include at-breakpoint($desktop-size $desktop-columns)
		{
			@include span-columns(8 omega, $desktop-columns);
		}
	}

	.header-links
	{
		@include no-bullets;
		margin: 0;
		padding: 0;
		text-align: center;
		font-family: $title-font-family;

		a
		{
			display: block;
			text-decoration: none;
			@include adjust-font-size-to(1.5 * $base-font-size);
		}

		@include at-breakpoint($desktop-size $desktop-columns)
		{
			li
			{
				@include span-columns(2, 8);

				&:last-child
				{
					margin-right: 0;
				}
			}

			a
			{
				@include adjust-font-size-to($base-font-size);
				line-height: 4;
			}
		}
	}

/* Main
   ========================================================================== */
.main
{
	@extend .clearfix;
}

	.main-standout
	{
		@extend .clearfix;
		background: $dark-grey;
		color: $white;
		text-align: center;

		a
		{
			@include link-colors($orange, darken($orange, 10%), darken($orange, 10%), $orange);
		}

		@include at-breakpoint($desktop-size $desktop-columns)
		{
			&:after
			{
				position: relative;
				z-index: 99;
				content: '';
				height: 100px;
				width: 100%;
				background: url(./images/standout-bottom.png) no-repeat center top;
			}
		}

		h1
		{
			margin-top: 0;
			margin-bottom: 0;
			color: $orange;
		}

		h1 + p,
		h1 + p.lede,
		p.lede + p
		{
			margin-top: 30px;
		}

		p
		{
			margin-top: 0;
			margin-bottom: 0;
		}

		p.lede
		{
			font-family: $title-font-family;
			@include adjust-font-size-to($lede-font-size / 1.5);
			line-height: 1.5;

			@include at-breakpoint($desktop-size $desktop-columns)
			{
				@include adjust-font-size-to($lede-font-size);
			}
		}
	}

	.main-content
	{
		@extend .clearfix;
		background: $light-grey;
		color: $white;
		@include padding-leader(0);
		@include padding-trailer(0);

		a
		{
			@include link-colors($white, darken($white, 10%), darken($white, 10%), $white);
		}
	}

/* Footer
   ========================================================================== */
.footer
{
	@extend .clearfix;
	@include padding-trailer(2);
}

	.footer-telephone
	{
		background: $orange;
		color: $white;

		> .wrap
		{
			background: url(./images/footer-logo.png) no-repeat bottom center;
			@include background-size(100%);

			text-align: center;
			font-family: $title-font-family;
			@include padding-leader(1);
			@include adjust-font-size-to($h2-font-size);

			@include at-breakpoint($desktop-size $desktop-columns)
			{
				@include padding-leader(3);
				text-align: right;
			}
		}
	}

	.footer-copyright
	{
		text-align: center;

		@include at-breakpoint($desktop-size $desktop-columns)
		{
			text-align: left;
			@include span-columns(4, $desktop-columns);
		}
	}

	.footer-accreditations
	{
		text-align: center;

		@include at-breakpoint($desktop-size $desktop-columns)
		{
			text-align: right;
			@include span-columns(8 omega, $desktop-columns);
		}
	}

/* Icon List
   ========================================================================== */
%icon-list
{
	text-align: center;
	font-family: $title-font-family;

	@include at-breakpoint($desktop-size $desktop-columns)
	{
		@include adjust-font-size-to(.5 * $base-font-size);
		line-height: 1.2;
	}

	a
	{
		text-decoration: none;
		display: block;
		padding-bottom: 10%;
	}
}

.home-icons
{
	@include tile-list(3, $total-columns, 3, $desktop-columns);
	@extend %icon-list;
	@include adjust-font-size-to(1 * $base-font-size);
}

.portfolio-icons
{
	@include tile-list(3, $total-columns, 3, $desktop-columns);
	@extend %icon-list;
	@include adjust-font-size-to(1 * $base-font-size);
}

.sidebar
{
	.portfolio-icons
	{
		@include tile-list(3, 6, 6, 12); // the last two numbers are a bit of a hack to make the two-column's of icons a little more visually appealing
		@extend %icon-list;
	}
}

/* Content
   ========================================================================== */
.content
{

	@include at-breakpoint($desktop-size $desktop-columns)
	{
		@include span-columns(9, $desktop-columns);
	}

	.loop
	{
		@extend .clearfix;
		margin: 20px 0;

		h2,
		p
		{
			margin: 0;
		}
	}
}

	.date-box
	{
		clear: both;
		float: left;
		width: 50px;
		height: 50px;
		margin-top: 3px;
		margin-right: 10px;
		text-align: center;
		@include background-image(url(./images/date.png));

		.month
		{
			display: block;
			width: 100%;
			height: 18px;
			text-transform: uppercase;
			font-size: 80%;
			font-weight: bold;
			color: $white;
		}
		.day
		{
			display: block;
			color: $black;
			line-height: 30px;
			font-size: 120%;
			font-weight: bold;
		}
	}

/* Sidebar
   ========================================================================== */
.sidebar
{
	@include at-breakpoint($desktop-size $desktop-columns)
	{
		@include span-columns(3 omega, $desktop-columns);
	}
}

	.widget
	{
		.title
		{
			color: $orange;
			background: $grey;
			padding: 0.3em 0.8em;
			margin-bottom: 0;
		}

		> ul
		{
			@include no-bullets;
			padding: 0;
			margin-top: 0;

			li
			{
				padding: 0.3em 0.8em;
				border-bottom: solid 1px $grey;
			}
		}
	}

/* Contact / Map
   ========================================================================== */
.contact_form
{
	@include at-breakpoint($desktop-size $desktop-columns)
	{
		@include span-columns(6, $desktop-columns);
	}
}

.contact_map
{
	@include at-breakpoint($desktop-size $desktop-columns)
	{
		@include span-columns(6 omega, $desktop-columns);
	}
}

.wpcf7
{
	p
	{
		margin: 0;
	}
}
.wpcf7-text,
.wpcf7-textarea
{
	width: 100%;
}

.mapp-layout
{
	*
	{
		@include box-sizing(content-box);
	}

	p
	{
		margin: auto;
	}

	.mapp-links
	{
		a
		{
			@include link-colors($orange, darken($orange, 10%), darken($orange, 10%), $orange);
		}
	}

	.adp-list
	{
		color: $orange;
	}

	.warnbox-content
	{
		color: $black;
	}
}

/* portfolio item
   ========================================================================== */
.project_details {
	@extend .clearfix;

	@include adjust-font-size-to(1.1 * $base-font-size);

	dt {
		width: 30%;
		float: left;
		clear: both;
		color: $black;
		font-weight: bold;

		&:after {
			content: ':';
		}
	}
	dd {
		width: 70%;
		margin-left: 0;
		float: left;
	}
}


/* ==========================================================================
   Final imports
   ========================================================================== */
@import "helpers";
@import "print";

/*                      /\
                        ||
                        ||
                        ||
                        ||                                               ~-----~
                        ||                                            /===--  ---~~~
                        ||                   ;'                 /==~- --   -    ---~~~
                        ||                (/ ('              /=----         ~~_  --(  '
                        ||             ' / ;'             /=----               \__~
     '                ~==_=~          '('             ~-~~      ~~~~        ~~~--\~'
     \\                (c_\_        .i.             /~--    ~~~--   -~     (     '
      `\               (}| /       / : \           / ~~------~     ~~\   (
      \ '               ||/ \      |===|          /~/             ~~~ \ \(
      ``~\              ~~\  )~.~_ >._.< _~-~     |`_          ~~-~     )\
       '-~                 {  /  ) \___/ (   \   |` ` _       ~~         '
       \ -~\                -<__/  -   -  L~ -;   \\    \ _ _/
       `` ~~=\                  {    :    }\ ,\    ||   _ :(
        \  ~~=\__                \ _/ \_ /  )  } _//   ( `|'
        ``    , ~\--~=\           \     /  / _/ / '    (   '
         \`    } ~ ~~ -~=\   _~_  / \ / \ )^ ( // :_  / '
         |    ,          _~-'   '~~__-_  / - |/     \ (
          \  ,_--_     _/              \_'---', -~ .   \
           )/      /\ / /\   ,~,         \__ _}     \_  "~_
           ,      { ( _ )'} ~ - \_    ~\  (-:-)       "\   ~
                  /'' ''  )~ \~_ ~\   )->  \ :|    _,       "
                 (\  _/)''} | \~_ ~  /~(   | :)   /          }
                <``  >;,,/  )= \~__ {{{ '  \ =(  ,   ,       ;
               {o_o }_/     |v  '~__  _    )-v|  "  :       ,"
               {/"\_)       {_/'  \~__ ~\_ \\_} '  {        /~\
               ,/!          '_/    '~__ _-~ \_' :  '      ,"  ~
              (''`                  /,'~___~    | /     ,"  \ ~'
             '/, )                 (-)  '~____~";     ,"     , }
           /,')                    / \         /  ,~-"       '~'
       (  ''/                     / ( '       /  /          '~'
    ~ ~  ,, /) ,                 (/( \)      ( -)          /~'
  (  ~~ )`  ~}                   '  \)'     _/ /           ~'
 { |) /`,--.(  }'                    '     (  /          /~'
(` ~ ( c|~~| `}   )                        '/:\         ,'
 ~ )/``) )) '|),                          (/ | \)                 -sjm
  (` (-~(( `~`'  )                        ' (/ '
   `~'    )'`')                              '
     ` ``*/